.search-box{
    background-color: #1d8fa8;
    box-sizing: border-box;
    padding: 30px;
    margin-top: 40px;
}

span{
     font-weight: bold;
}
h4, h3, strong{
    color: white;
}

.date{
    color: black;
}

nav{
    background-color: #1d8fa8;
    display: flex;
    align-items: center;
}

nav img{
    width: 50px;
    height: 50px;
}

.button_cont{
    text-align: center;
    padding-bottom: 50px;
}

#submit {
    color: #178ecf;
    border-radius: 10px;
    background-color: white;
    border: none;

}

#submit:hover {
    background-color: #1d8fa8;
    color: white;
}