<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <title>FlightsDetecor</title>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">
        <img src="../static/images/logo.svg" width="50" height="50" class="d-inline-block align-center" alt="">
        <span>FlightsDetector</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./home"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./menu"><i class="fas fa-info"></i> Menu</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fas fa-address-card"></i> About</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid menu-content">
        <div class="row row-header">
          <div class="col-12 col-md-4 offset-md-4"><h1 class="text-white">About the project</h1></div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 offset-md-4 text-white">
            This website is created as a university cycle of home tasks. In order to perform this job I used a variety of
            python libraries and engaged my knowledge of object-oriented programming, knowledge of working with API and designing abstract data types. As well, I needed to explore
            the power of Dash framework and its capabilities to create interactive apps using Reach js framework under its hood. Except theses points, the simple designing of
            the wrapper site was done in responsive and adaptive way using Bootstrap Web UI Framework, that means the site will have an appropriate layout
            both in large and small devices. I am a sole contributor to this project. It can be explored in a great detail
            if you visit by github repository <a class='git' href='https://github.com/psemchyshyn/dz_project'>Here</a> 
          </div>
        </div>
          <div class="row btn-about">
            <div class="col-12 col-md-4 offset-md-5 align-items-center">
                <a class="btn btn-info btn-lg" href="./menu" role="button">Explore</a>          
            </div>
          </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
